<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello, world!</title>
  </head>



  <body>


  <div>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/student/" style="color: black">Add Data</a></li>
            <li><a href="http://127.0.0.1:8000/show_data/" style="color: black">Show/Delete/Edit</a></li>
        </ul>
    </nav>
</div>

  <br><br>


<form action="/update_row">
    <table>

        <tr>
            <td>Student Roll No. :  </td>
            <td><input type="text" name='roll' value={{ row.0 }}></td>
        </tr>
        <tr>
            <td>Student Name :  </td>
            <td><input type="text" name='name' value={{ row.1 }}></td>
        </tr>

        <tr>

            <td></td>
            <td><input type="submit" value="edit"></td>
        </tr>
    </table>
</form>


</body>
</html>